.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

@media (max-width: 600px) {
  .button {
    font-size: 14px;
    padding: 10px 16px;
  }
}

.stage-group {
  margin-bottom: 30px;
  text-align: center;
}

.stage-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.stage {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.label {
  margin: 10px 0 5px;
  font-size: 18px;
  text-align: center;
  background-color: rgb(70, 114, 191);
}


.stage:hover {
  background-color: #ddd;
}
